<!-- <div *ngFor="let item of rawdata">
  {{ item.LeaderName }}
  <br />
</div> -->

<div>
  <h2>Wikipedia Search</h2>
  <!-- <input #term type="text" (keyup)="search(term.value)"> -->
  <input type="text" [formControl]="term"/>
  <ul>
    <!-- <li *ngFor="let item of items">{{item}}</li> -->
    <li *ngFor="let item of items | async">{{item}}</li>
  </ul>
</div>


<a [routerLink]="['./sample']" skipLocationChange>advanced route (using [routerLink])</a>
<br />
<a [routerLink]="['sample',{name:'eros',age:'1'}]" skipLocationChange>advanced routing with parameter inside</a>
<br />

<a [routerLink]="['sample',test()]" skipLocationChange>advance route with function that returns a parameter</a>
<br />
<a routerLink="/sample/1" skipLocationChange>simple route with param (using routerLink)</a>
<br />
<button (click)="gotoRoutewithParam(true)">sample using router function (skip changing url : true)</button>
<br />
<button (click)="gotoRoutewithParam(false)">sample using router function (skip changing url : false) </button>

<router-outlet></router-outlet>